<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Julge-me</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/julge_me_logo_ico.ico') }}" type="image/x-icon">
  </head>
  <body style="background-color: #101414">
    <nav class="navbar navbar-expand-lg" style="background-color: #101414; border-bottom: 1px solid #202c2c;">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/julge_me_logo_white.png') }}" alt="Logo Julge-me"
          style="max-width: 60px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"
           class="collapse navbar-collapse" id="navbarSupportedContent">
        <form id="form_search" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search"
            style="border-radius: 30px; width: 400px; background-color: #202c2c;"
          >
        </form>
      </div>
      <button style="position: absolute; top: 50%; right: 0%; transform: translate(-50%, -50%);"
              type="button" class="btn btn-light">Apoie a comunidade
      </button>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  <script>
    $(document).ready(function() {
      $('.form-control').on('keypress', function(e) {
        if (e.which === 13) {
          e.preventDefault();
          $('form').submit();
        }
      });

      $('.form-control').on('blur', function() {
        $('form').submit();
      });
    });
  </script>
</html>